body {
    padding: 16px;
    margin: 0;
    background-color: #fff;
}

.cabecalho {
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.cabecalho img {
    height: 200px;
    width: 150px;
    border-radius: 10px;
}

.conteudoCabecalho {
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
}

.conteudoCabecalho h1 {
    font-size: 36px;
}

.projetos {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 16px;
}

.projetos .projeto {
    border: 1px solid black;
    flex: 1;
    margin: 0 16px;
    height: fit-content;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.projetos .projeto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 16px;
}


.contato {
    margin-top: 20px;
    text-align: center;
}

.contato h2 {
    font-size: 24px;
    color: #333;
}

.contato p {
    font-size: 16px;
    margin-bottom: 10px;
}

.contato a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}


@media screen and (max-width: 1200px) {
    .projetos .projeto {
        width: 45%; /* dois projetos por linha em telas de até 1200px */
    }
}

@media screen and (max-width: 768px) {
    .projetos .projeto {
        width: 100%; /* um projeto por linha em telas de até 768px */
    }
}
